__pycache__/
.venv/
venv/
env/
ENV/
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
.pytest_cache/
.git/
.gitignore
node_modules/
media/
build/
dist/
.venv/
env/
*.egg-info/
*.log
coverage.xml
htmlcov/
pip-log.txt
pip-delete-this-directory.txt
__pycache__/
.DS_Store
/.vscode/
/.idea/
*.env
.env
